appdirs==1.4.4
appnope==0.1.0
args==0.1.0
astroid==2.4.2
attrs==20.2.0
autopep8==1.5.4
azure-common==1.1.25
azure-nspkg==3.0.2
azure-storage==0.36.0
backcall==0.2.0
black==20.8b1
boto3==1.15.10
botocore==1.18.10
cached-property==1.5.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
clint==0.5.1
cryptography==3.1.1
dataclasses==0.7
decorator==4.4.2
-e git+git@github.com:autosoft-dev/docly.git@f52220361be0c4370ff7a8a4a8429eb8eea76391#egg=docly
docopt==0.6.2
dpu-utils==0.2.18
filelock==3.0.12
flake8==3.8.3
future==0.18.2
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.1
ipython==7.16.1
ipython-genutils==0.2.0
isort==5.5.3
jedi==0.17.2
jmespath==0.10.0
joblib==0.16.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==8.5.0
mypy-extensions==0.4.3
nltk==3.5
numpy==1.19.2
packaging==20.4
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prettytable==0.7.2
prompt-toolkit==3.0.7
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyfiglet==0.8.post1
pyflakes==2.2.0
pygit2==1.3.0
Pygments==2.7.1
pylint==2.6.0
pyparsing==2.4.7
pytest==6.0.2
python-dateutil==2.8.1
PyYAML==5.3.1
regex==2020.7.14
requests==2.24.0
s3transfer==0.3.3
sacremoses==0.0.43
sentencepiece==0.1.91
SetSimilaritySearch==0.1.7
six==1.15.0
tokenizers==0.5.0
toml==0.10.1
torch==1.6.0
tqdm==4.49.0
traitlets==4.3.3
transformers==2.5.0
tree-hugger==0.8.3
tree-sitter==0.1.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
wcwidth==0.2.5
wrapt==1.12.1
zipp==3.1.0
